#title-page{
    /* border:1px solid orange; */
    font-family: 'Roboto', sans-serif;
    width:100vw;
    height:100vh;
    /* background-image: url("../images/ContactPaul.png"); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:black;

}

#paul-img{
    /* border:2px solid red; */
    height:100vh;
    position: absolute;
}

#logo{
    /* border:1px solid red; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:20%;
    width:inherit;
    max-width: 100%;
    background: transparent;
} 

#logo h4{
    color:whitesmoke;
    letter-spacing: -15%;
    mix-blend-mode: darken;
    font-family: 'Open Sans', sans-serif;
    mix-blend-mode:luminosity;
    letter-spacing: 1px;

} 

#title-logo{
    height:40vh;
    width: 80vw;
}

#logo-holder{
    /* border:2px solid whitesmoke; */
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width:80vw;
    position: relative;
}

#paul {
    /* border:2px solid red; */
    height:153px;
    width: 257px;
    background-image: url("../images/paul.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color:transparent;
    -webkit-filter: drop-shadow(2px 2px 2px rgb(151, 25, 25));
    filter: drop-shadow(2px 2px 2px rgb(151, 25, 25));
    margin:10px;
}

#nelson {
    /* border:2px solid blue; */
    height:153px;
    width: 412px;
    background-image: url("../images/nelson.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color:transparent;
    z-index:100;
    filter: drop-shadow(2px 2px 2px rgb(151, 25, 25));
    -webkit-filter: drop-shadow(2px 2px 2px rgb(151, 25, 25));
    margin:10px;
}

